header{
    text-align: center;
    background-color: #EEEEAA;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
    padding: 1em;
}
h2{
    padding: 10px;
    text-align: center;
    color: white;
}
body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #957DAD;
}
table{
    margin: auto;
    border-collapse: collapse;
}

th{
    color: white;
}
td {
    border: 2px solid white;
    background-color: #957DAD;
    border-collapse: collapse;
    color: white;
    padding: 6px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
footer {
    font-size: 15px;
    padding: 5em;
    color: white;
    clear: left;
    text-align: center;
}

a {
    color:White;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
a:hover, a:active {
    color: red;
}