header{
    text-align: center;
    background-color: #EEEEAA;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    width: 550px;
}
body {
    background-image: url(images/stars.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
table{
    margin: auto;
    border-collapse: collapse;
}
th{
    color: white;
}
td {
    border: 2px solid white;
    background-color: #ffcbb3;
    border-collapse: collapse;
    color: white;
    padding: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
footer {
    font-size: 25px;
    padding: 10em;
    color: white;
    clear: left;
    text-align: center;
}
a {
    color:White;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
a:hover, a:active {
    color: red;
}